[*.cs]

# CS8602: Dereference of a possibly null reference.
dotnet_diagnostic.CS8602.severity = error

# CS8604: Possibly null reference argument for parameter.
dotnet_diagnostic.CS8604.severity = error
